@import "tailwindcss";

:root {
  --font-avant-garde: var(--font-avant-garde);
  --font-sans-regular: var(--font-sans-regular);
  --slack-purple: #611e64;
  --slack-blue: #1264a3;
  --slack-yellow: #ecb22e;
}

@layer utilities {
  .font-avant {
    font-family: var(--font-avant-garde);
  }

  .font-sans-regular {
    font-family: var(--font-sans-regular);
  }
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans-regular);
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-avant-garde);
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@theme {
   --breakpoint-2xl: 72.5rem;
   --color-slack-purple: var(--slack-purple);
}
